<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.alc.library_common">
    <application
        android:name="com.alc.library_common.base.BaseApplication"
        android:allowBackup="true"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:networkSecurityConfig="@xml/network_security_config"
        >
        <provider
            android:name=".provier.AppContentProvider"
            android:authorities="${applicationId}.wanandroid.appcontentprovider"
            android:exported="false"
            android:multiprocess="true" />

    </application>
</manifest>